.Juris{
    padding-top: 50px;
    padding-inline: 30px;
    padding-bottom: 50px;
    font-size: 28px;
}
.Author{

}
header{
    background-color:#1b0404;
    color: #ffffff;
}
nav li{
    font-size: large;
    display: inline-block;
}
nav ul{
    list-style-type:upper-latin;
    padding-top:10px;
    padding-bottom:100px;
}
nav a{
    color: rgb(202, 203, 206);
    padding: 10px;
}
.content ol{
    position: absolute;
    background-color:rgb(251, 247, 247);
    box-shadow: 0px 0 3px #000000;
    float: left;
    padding: 100px;
}
.content{
    float: left;
    margin-left: 200px;
    font-size: 20px;
    padding-top: 40px;
}
body{
    background-color:#ffffff;
}