html {
    scroll-behavior: smooth;
}
nav {
    top: 0%;
    position: fixed;
    width: 100%;
    padding-top: 40px;
    z-index: 9999900;
    background-color: #1A1A1A;
    text-align: center;
    
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    display: flex;
}
nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background: #1A1A1A;
    font-size: 24px;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav li:not(:last-child) a::after {
    content: "";
    position: absolute;
    background-color: rgb(250, 115, 115);
    height: 3px;
    width: 0;
    left: 50%;
    bottom: 0;
    margin-bottom: -10px;
    transform: translateX(-50%);
}
nav a:hover {
    transform: translateY(-5px);
    color: rgb(250, 115, 115);
}
nav li:not(:last-child) a:hover::after {
    width: 100%;
    transition: width 0.5s ease-in-out;
}
nav a .red-letterContact {
    border: solid;
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(250, 115, 115);
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: none;
        align-items: center;
    }

    nav a {
        font-size: 16px;
        padding: 10px;
    }
}
@media (max-width: 480px) {
    nav a {
        display: none;
    }
}
.Home {
    background-color: #1A1A1A;
    color: #e7eaee;
}
body {

    font-family: 'Poppins', sans-serif;
    background-color: #1A1A1A;
    color: #f0f2f3;
}


.wrapper {
    padding-right: 500px;
    padding-top: 300px;
    margin-bottom: 220px;
    margin-left: 160px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.wrapper:hover{
    transform: translateY(-5px);
}
.resume{
    position: relative;
    opacity: 80%;
    color: #f0f2f3;
    letter-spacing: 5px;
    font-size: 18px;
    border: solid;
    border-radius: 20px;
    padding: 20px 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}
.resume:hover{
    color: rgb(250, 115, 115);
}
a{
    text-decoration: none;
}


.Juris{
    margin-bottom: 80px;
}
.Juris h1 {
    font-size: 78px;
    margin: 0;
}
.Juris h1 span.red-letter {
    color: rgb(250, 115, 115);
    content: none;
}
.Juris h5 {
    word-spacing: 2px;
    opacity: 50%;
    font-size: 18px;
    margin: 10px 0;
}
@media (min-width: 768px) {
    .Juris {
        font-size: 38px;
        padding: 30px;
    }

    .Juris h4 {
        font-size: 24px;
    }
}


.aboutme {
    font-size: 18px;
    word-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    padding: 200px;
    position: relative;
}
.aboutme h3.abtme {
    font-size: 40px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative;
}
.aboutme h3.abtme:hover {
    transform: translateY(-5px);
    color: rgb(250, 115, 115);
}
.abtme{
    font-size: 18px;
}


.LanguagesKnownandUsed {
    font-size: 18px;
    word-spacing: 2px;
    padding: 200px;
}
.LanguagesKnownandUsed .skills {
    font-size: 40px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.LanguagesKnownandUsed .skills:hover {
    transform: translateY(-5px);
    color: rgb(250, 115, 115);
}


.project-list {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0;
}

.project-list h2 {
    color: rgb(250, 115, 115);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
.project-list h2:hover{
    text-decoration: underline;
    transform: translateY(-5px);
}


.project-list li {
    font-size: 18px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}
.project-list li:hover{
    text-decoration: underline;
    transform: translateY(-5px);
}

.Projectssofar {
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
}
.Projectssofar:hover {
    transform: translateY(-5px);
    color: rgb(250, 115, 115);
}
.Projects {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.Education {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
}
.Education h2{
    color:rgb(250, 115, 115);
    font-size: 26px;
}
.Education li{
    font-size: 20px;
}
.Edu{
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
}

.Edu:hover{
    color:rgb(250, 115, 115);
    transform: translateY(-5px);
}
.uphds{
    transition: transform 0.3s ease-in-out;
}
.uphds:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}

.mcl{
    transition: transform 0.3s ease-in-out;
}
.mcl:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}
.Contacts{
    color:rgb(250, 115, 115);
    margin-top: 200px;
    text-align: center;
    font-size:18px;
}
.contactstxt{
    font-size: 24px;
    text-align: center;   
}
.contactmssg{
    opacity: 80%;
    font-size: 16px;
    text-align: center;
}
.button__text,
.button__icon{
    display: inline-flex;
    justify-items: center;
    padding: 0 4px;
}
.Connect{
    
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    justify-content:space-evenly;
}
.Connect button {
    opacity: 80%;
    display: inline-flex;
    background-color: #1A1A1A;
    color: #f0f2f3;
    border: solid;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.Connect button:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    color: rgb(250, 115, 115);
}


/* Phone*/

@media (max-width: 768px) {
    nav ul {
        flex-direction:row; 
        align-items: center;
    }

    nav li {
        margin-bottom: 10px; 
    }

    nav a {
        font-size: 16px;
        padding: 10px;
    }

    .wrapper {
        padding: 20px; 
        margin: 20px; 
    }

    .resume {
        font-size: 16px; 
        padding: 10px; 
    }

    .aboutme,
    .LanguagesKnownandUsed,
    .Projects,
    .Education,
    .Connect {
        padding: 20px; 
    }

    .Juris h1 {
        font-size: 36px; 
    }

    .Juris h5 {
        font-size: 16px; 
    }

    .abtme {
        font-size: 16px; 
    }

    .skills,
    .Projectssofar,
    .Edu {
        font-size: 28px; 
    }

    .project-list h2,
    .project-list li {
        font-size: 16px; 
    }

    .contactstxt {
        font-size: 20px; 
    }

    .contactmssg {
        font-size: 14px; 
    }

    .Connect button {
        font-size: 20px; 
        padding: 8px 16px; 
    }
}

@media (max-width: 480px) {
    nav a {
        display: none;
    }
}
