html {
    scroll-behavior: smooth;
}
nav  {
    background-color: #1A1A1A;
    padding: 20px;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content:space-around;
}
nav li {
    display: flex;
}
nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    background: #1A1A1A;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out; 
}
nav a:hover {
    transform: translateY(-5px);
}
@media (max-width: 768px) {
    nav ul {
        flex-direction:
        align-items: center;
    }

    nav a {
        font-size: 16px; 
        padding: 10px; 
    }
}
@media (max-width: 480px) {
    nav a {
        display: none 
    }
}
nav a::after {
    content: "";
    position: absolute;
    background-color: rgb(250, 115, 115);
    height: 3px;
    width: 0;
    left: 50%;
    bottom: 0;
    margin-bottom: -10px;
    transform: translateX(-50%);
    transition: width 0.3s;
}
nav a:hover::after {
    width: 100%;
}
.Home{
    background-color:#1A1A1A;
    color: #e7eaee;;
}
body{
    background-color:#1A1A1A;
    color: #f0f2f3;
}
.wrapper {
    margin-top: 120px;
    margin-left: 160px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.Juris {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 80px;
}

.Juris h1 {
    font-size: 68px;
    margin: 0;
}
.Juris h1 span.red-letter {
    color: rgb(250, 115, 115);
}

.Juris h5 {
    font-size: 18px;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .Juris {
        font-size: 38px;
        padding: 30px;
    }

    .Juris h4 {
        font-size: 24px;
    }
}

.Juris:hover {
    transform: translateY(-5px);
}
.red-letter {
    color:rgb(250, 115, 115);
}

.aboutme{
    word-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    transition: transform 0.3s ease-in-out; 
}
.aboutme:hover{
    transform: translateY(-5px);
}
.abtme{  
    display: inline;
}
.LanguagesKnownandUsed{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    transition: transform 0.3s ease-in-out; 
}
.LanguagesKnownandUsed:hover{
    transform: translateY(-5px);
}
.LanguagesKnownandUsed img{
    width: 80px;
}
.Projects{
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out; 
}
.Projects img{
    justify-content: space-between;
    text-align: right;
    border-radius: 10px;
    width: 60px;
    height: 30px;
}
.Projects button{

    border-color: #000000;
    border-radius: 20px;
    border-style: double;
    
}
.Projects:hover{
    transform: translateY(-5px);
}
.Education{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
    transition: transform 0.3s ease-in-out; 
}
.Education:hover{
    transform: translateY(-5px);
}
.Contacts{
    text-align: center;
}
.contactstxt{
    text-align: center;   
}
.contactmssg{
    text-align: center;
}
.ConnectMe {
    padding: 60px; 
}
.ConnectMe ul {
    text-align: center;
}
.ConnectMe button{
    display:  inline-flex;
    height: 50px;
    width: 100px;
    border-radius: 80px;
    background-color: #1A1A1A;
    border-color: #e7eaee;
    font-size: 24px;
}
.ConnectMe Button_icon{

}